:root {
  --title-text-color: #212121;
  --focus-text-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --button-color: #f5f4fa;
  --background-color: #2f303a;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --second-logo-color: #000000;
  --border-color: #ececec;
  --border-picture: #eeeeee;
  --icon-color: #afb1b8;
  --footer-icons-color: rgba(255, 255, 255, 0.1);
  --portfolio-item-background: rgba(33, 150, 243, 0.9);
  --work-img-background: rgba(47, 48, 58, 0.8);
  --backdrop-background: rgba(0, 0, 0, 0.2);
  --footer-placeholder: rgba(255, 255, 255, 0.6);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 0;
}

image {
  display: block;
}

.icon {
  fill: var(--icon-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding: 94px 0px;
  /* outline: solid tomato; */
}

.title {
  color: var(--title-text-color);
}

.container {
  /* align-items: center; */
  padding: 0px 15px;
  width: 1200px;
  margin: 0 auto;
}

.hero-button {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background: var(--focus-text-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
}

.follow-button {
  display: inline-flex;
  align-items: center;
  margin-left: 12px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background: var(--focus-text-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 29px;
}

.main-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.main-button-list__button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: var(--button-color);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button-list__button:hover, .main-button-list__button:focus {
  background: var(--focus-text-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-button-list__item:not(:last-child) {
  margin-right: 8px;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--backdrop-background);
  background-color: var(--secondary-text-color);
}

.button-close:hover .button-close__close-icon,
.button-close:focus .button-close__close-icon {
  fill: var(--focus-text-color);
}

.button-close__close-icon {
  fill: var(--second-logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background: var(--focus-text-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;
  min-height: 50px;
}

/* header */
.header {
  border-bottom: 1px solid var(--border-color);
  padding: 0 15px;
}

.container--flexible {
  display: flex;
  align-items: center;
}

.logo--mode-dark {
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--second-logo-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo__part--accent {
  color: var(--focus-text-color);
}

/* site nav */
.nav-list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: var(--focus-text-color);
}

.nav__link--current {
  position: relative;
  color: var(--focus-text-color);
}

.nav__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--focus-text-color);
}

/* contacts */
.list-contacts {
  display: flex;
  margin-left: auto;
}

.list-contacts__link {
  display: flex;
  align-items: center;
}

/* envelope icon */
.list-contacts__item {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-contacts__item:hover {
  color: var(--focus-text-color);
}

.list-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.list-contacts__mail-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* phone icon */
.list-contacts__phone-icon {
  fill: currentColor;
}

.list-contacts__phone-icon {
  margin-right: 10px;
}

.list-contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-contacts__link:hover, .list-contacts__link:focus {
  color: var(--focus-text-color);
}

/* main */
/* hero */
.hero-section {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/hero-background.jpg");
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero-container__title {
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

/*proirity section */
.priority-list {
  display: flex;
  justify-content: space-between;
}

.priority-list__item {
  width: 270px;
}

.priority-list__item:not(:last-child) {
  margin-right: 30px;
}

.priority-list__thumb {
  background: var(--button-color);
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.priority-list__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.priority-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* work section */
.work-section {
  padding-top: 0;
}

.work-container__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.list-work__image {
  display: block;
}

.list-work {
  display: flex;
  justify-content: space-between;
}

.list-work__item:not(:last-child) {
  margin-right: 30px;
}

.list-work__thumb {
  position: relative;
  width: 100%;
}

.list-work__picture-title-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--work-img-background);
}

.list-work__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin: 27px 0px;
}

/* team section */
.team-section {
  background-color: var(--button-color);
}

.team-container__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__worker-info {
  margin: 30px 0px;
}

.team-list__title {
  margin-bottom: 10px;
}

.social-media-list {
  display: inline-flex;
  padding-left: 32px;
  padding-right: 32px;
}

.social-media-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-media-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--secondary-text-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-list__link:hover, .social-media-list__link:focus {
  background-color: var(--focus-text-color);
}

.social-media-list__link:hover .social-media-list__icon,
.social-media-list__link:focus .social-media-list__icon {
  fill: var(--secondary-text-color);
}

.social-media-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* clients */
.clients-container__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  background-color: var(--secondary-text-color);
  border: 1px var(--icon-color) solid;
  padding: 16px 32px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--focus-text-color);
}

.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--focus-text-color);
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */
.footer {
  padding: 0 15px;
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address-list__link {
  color: var(--footer-contacts);
}

.logo--mode-light {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--second-logo-color);
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer-address-list__link--light {
  color: var(--secondary-text-color);
}

.footer-address-list__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-list__link:hover, .footer-address-list__link:focus {
  color: var(--focus-text-color);
}

.footer-address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

/* socials footer */
.social-media-list--start {
  padding: 0 0;
}

.social-media-list__link {
  background-color: var(--footer-icons-color);
}

.social-media-list__link:hover, .social-media-list__link:focus {
  background-color: var(--focus-text-color);
}

.social-media-list__icon--light {
  fill: var(--secondary-text-color);
}

.wrapper-social__text,
.wrapper-follow__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
}

.footer-container {
  display: flex;
}

.wrapper-address {
  margin-right: 70px;
}

.wrapper-social {
  margin-top: 15px;
}

.wrapper-follow {
  margin-left: 93px;
  margin-top: 15px;
}

.follow-button__send-icon {
  margin-left: 10px;
  fill: var(--secondary-text-color);
}

.wrapper-follow__input::placeholder {
  color: var(--footer-placeholder);
}

.wrapper-follow__input {
  width: 358px;
  height: 50px;
  padding: 15px 0px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--secondary-text-color);
}

/* modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-background);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--secondary-text-color);
}

.modal-form__title {
  display: contents;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-form {
  position: absolute;
  padding: 40px 40px 0px 40px;
}

.modal-form__form-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-form__form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form__form-input {
  margin: 0;
  padding: 12px 12px 12px 42px;
  font: inherit;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__form-input:focus {
  border-color: var(--focus-text-color);
}

.modal-form__form-input:focus + .modal-form__icon-check {
  fill: var(--focus-text-color);
}

.modal-form__form-textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__form-textarea:focus {
  border-color: var(--focus-text-color);
}

.modal-form__form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input-group {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 20px;
}

.modal-form__human-icon,
.modal-form__tel-icon,
.modal-form__email-icon,
.modal-form__icon-check {
  position: absolute;
  top: 58%;
  left: 12px;
  margin-right: 15px;
  fill: var(--title-text-color);
}

.modal-form__form-label--group {
  display: flex;
  align-items: center;
}

.modal-form__policy-field {
  display: flex;
  justify-content: center;
}

.modal-form__text-policy {
  padding-left: 24px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-form__policy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--focus-text-color);
}

.modal-form__form-label--group {
  position: relative;
}

.modal-form__icon-check {
  position: absolute;
  top: 3px;
  left: 0;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--second-logo-color);
  border-radius: 2px;
}

.modal-form__checkbox-policy {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.modal-form__checkbox-policy:checked + .modal-form__icon-check {
  border-color: var(--focus-text-color);
  background-color: var(--focus-text-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

/* Portfolio */
.applications-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.applications-list__item {
  border: 1px solid var(--border-picture);
  box-sizing: border-box;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.applications-list__item:hover, .applications-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.applications-list__item:hover .applications-list__description,
.applications-list__item:focus .applications-list__description {
  opacity: 1;
}

.applications-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.applications-list__item:nth-child(7) {
  margin-bottom: -30px;
}

.applications-list__item:nth-child(8) {
  margin-bottom: -30px;
}

.applications-list__item:nth-child(9) {
  margin-bottom: -30px;
}

.applications-list__item:hover .applications-list__overlay {
  transform: translateX(0);
}

.applications-list__thumb {
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  overflow: hidden;
}

.applications-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--portfolio-item-background);
  /* opacity: 0; */
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.applications-list__description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  width: 100%;
  position: absolute;
  padding: 0px 24px;
}

.applications-list__app-info {
  margin: 20px 24px;
}

.applications-list__title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.applications-list__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*# sourceMappingURL=main.css.map */