:root {
  --title-text-color: #212121;
  --focus-text-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --button-color: #f5f4fa;
  --background-color: #2f303a;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --second-logo-color: #000000;
  --border-color: #ececec;
  --border-picture: #eeeeee;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 0;
}
image {
  display: block;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.section {
  padding: 94px 15px;
  /* outline: solid tomato; */
}
.container {
  /* align-items: center; */
  width: 1200px;
  margin: 0 auto;
}
/* header */
.header {
  border-bottom: 1px solid var(--border-color);
}
.header,
.footer {
  padding: 0 15px;
}
.header .container {
  display: flex;
  align-items: center;
}
.header .logo {
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--second-logo-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo .accent-logo {
  color: var(--focus-text-color);
}
/* site nav */

.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--focus-text-color);
}
.site-nav .link.current {
  color: var(--focus-text-color);
}
/* contacts */
.contacts.list {
  display: flex;
  margin-left: auto;
}
.contacts.list .item:not(:last-child) {
  margin-right: 50px;
}
.contacts.list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contacts.list .link:hover,
.contacts.list .link:focus {
  color: var(--focus-text-color);
}

/* main */
/* hero */
.hero-section {
  background: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  /* padding-left: 452px;
  padding-right: 452px; */
  text-align: center;
}
/* .hero-section .container {
   align-items: center; 
}  */
.hero-title {
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.hero-button {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background: var(--focus-text-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;

  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
}

/*proirity section */
.priority-section .list {
  display: flex;
  justify-content: space-between;
}
.priority-section .item {
  width: 270px;
}
.priority-section .item.item:not(:last-child) {
  margin-right: 30px;
}
.title {
  color: var(--title-text-color);
}
.priority-section .title {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.priority-section .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* work section */
.work-section .title,
.comand-section h2.title {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.pictures .image {
  display: block;
}
.pictures.list {
  display: flex;
  justify-content: space-between;
}
.pictures .item:not(:last-child) {
  margin-right: 30px;
}
/* comand section */
.comand-section .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.comand-section .text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.comand-section .list {
  display: flex;
  justify-content: space-between;
}
.comand-section .item:not(:last-child) {
  margin-right: 30px;
}
.comand-section .item {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.worker-info {
  margin: 30px 0px;
}
.comand-section h3.title {
  margin-bottom: 10px;
}

/* footer */
.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer .link {
  color: var(--footer-contacts);
}
.footer .logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--second-logo-color);
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  margin-bottom: 20px;
}
.address-item .link {
  color: var(--secondary-text-color);
}
.footer-address .link:hover,
.footer-address .link:focus {
  color: var(--focus-text-color);
}
.footer .link {
  display: inline-block;
}
.footer .list-item:not(:last-child) {
  margin-bottom: 9px;
}

/* Portfolio */
.main-button.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.main-button .button {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: var(--button-color);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
}
.main-button .item:not(:last-child) {
  margin-right: 8px;
}
.main-button .button:hover,
.main-button .button:focus {
  background: var(--focus-text-color);
}
.applications.list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.applications .item {
  border: 1px solid var(--border-picture);
  box-sizing: border-box;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);
}
.applications .item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.app-info {
  margin: 20px 24px;
}
.applications .title {
  margin-bottom: 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.applications .text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
