.hero-button {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    background: var(--focus-text-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;

    min-width: 200px;
    min-height: 50px;
    padding: 10px 32px;
}
.follow-button {
    display: inline-flex;
    align-items: center;
    margin-left: 12px;

    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    background: var(--focus-text-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;
    min-width: 200px;
    min-height: 50px;
    padding: 10px 29px;
}
.main-button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.main-button-list__button {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background: var(--button-color);
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background: var(--focus-text-color);
        color: var(--secondary-text-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.main-button-list__item:not(:last-child) {
    margin-right: 8px;
}


.button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid var(--backdrop-background);
    background-color: var(--secondary-text-color);

    &:hover .button-close__close-icon,
    &:focus .button-close__close-icon {
        fill: var(--focus-text-color);
    }
}
.button-close__close-icon {
    fill: var(--second-logo-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    background: var(--focus-text-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;

    min-width: 200px;
    min-height: 50px;
}