/*proirity section */
.priority-list {
    display: flex;
    justify-content: space-between;
}

.priority-list__item {
    width: 270px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.priority-list__thumb {
    background: var(--button-color);
    border-radius: 4px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.priority-list__title {
    margin-bottom: 10px;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.priority-list__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}