/*proirity section */
.priority-list {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width:768px){
        margin: -15px;
    }
    @media screen and (min-width:1200px) {
        margin: -15px;
    }
}

.priority-list__item {
    
    @media screen and (max-width:767px) {
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width:768px) {
        margin: 15px;
        width: calc((100% - 4 * 15px)/2);
    }
    @media screen and (min-width:1200px) {
        margin: 15px;
        width: calc((100% - 8 * 15px)/4);
    }

}

.priority-list__thumb {
    background: var(--button-color);
    border-radius: 4px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.priority-list__title {
    margin-bottom: 10px;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (max-width:767px) {
        text-align: center;
    }
}

.priority-list__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    @media screen and (max-width:767px) {
        text-align: center;
    }
}