/* work section */
.work-section {
    padding-top: 0;
    @media screen and (max-width:1199px) {
      display: none;
    }
}

.work-container__title{
    margin-bottom: 50px;

    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.list-work__image {
    display: block;
}

.list-work {
    display: flex;
    justify-content: space-between;
}

.list-work__item:not(:last-child) {
    margin-right: 30px;
}

.list-work__thumb {
    position: relative;
    width: 100%;
}

.list-work__picture-title-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--work-img-background);
}

.list-work__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--secondary-text-color);
    margin: 27px 0px;
}