:root {
    --title-text-color: #212121;
    --focus-text-color: #2196f3;
    --primary-text-color: #757575;
    --secondary-text-color: #ffffff;
    --button-color: #f5f4fa;
    --background-color: #2f303a;
    --footer-contacts: rgba(255, 255, 255, 0.6);
    --second-logo-color: #000000;
    --border-color: #ececec;
    --border-picture: #eeeeee;
    --icon-color: #afb1b8;
    --footer-icons-color: rgba(255, 255, 255, 0.1);
    --portfolio-item-background: rgba(33, 150, 243, 0.9);
    --work-img-background: rgba(47, 48, 58, 0.8);
    --backdrop-background: rgba(0, 0, 0, 0.2);
    --footer-placeholder: rgba(255, 255, 255, 0.6);
}